@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
body,
html {
  box-sizing: border-box; }

body,
*,
html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400; }

h1 {
  font-size: 4.6rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 1.5rem; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600; }

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat;
  background-size: cover;
  background-position: center; }

.dashboard {
  background: #fff;
  color: #2e4052;
  padding: 4rem;
  width: 25vw;
  height: 100vh; }
  .dashboard .accordion {
    position: relative;
    box-shadow: none; }
    .dashboard .accordion .dashboardLinks {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem; }
      .dashboard .accordion .dashboardLinks .dashboardLink {
        text-decoration: none;
        color: inherit;
        margin-bottom: 2rem; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
  width: 45vw;
  background: #fff;
  border-radius: 13px;
  height: 85vh;
  overflow-x: hidden; }
  .container > div:first-child {
    padding: 2rem 2rem 0 2rem; }

.list {
  overflow-y: scroll; }

.card {
  border: 1px solid #e0dfdf;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .card .task {
    flex-grow: 1;
    margin: 0 1rem; }
    .card .task.show {
      color: #e0dfdf;
      text-decoration: line-through; }
  .card .toggleComplete,
  .card .toggleDelete {
    font-size: 1.4rem;
    color: #e0dfdf;
    border-radius: 50%;
    border: 1px solid transparent;
    background: #fff; }
    .card .toggleComplete.show,
    .card .toggleDelete.show {
      border: 1px solid #e0dfdf;
      opacity: 1; }
      .card .toggleComplete.show div,
      .card .toggleDelete.show div {
        opacity: 1; }
    .card .toggleComplete.hide,
    .card .toggleDelete.hide {
      opacity: 1;
      border: 1px solid #2e4052; }
      .card .toggleComplete.hide div,
      .card .toggleDelete.hide div {
        opacity: 0; }
  .card .toggleDelete.hide {
    border: 1px solid transparent; }

.addTaskContainer {
  width: 100%;
  padding: 0.8rem;
  filter: drop-shadow(2px -1px 8px #e0dfdf);
  background: #fff;
  position: absolute;
  bottom: 0; }
  .addTaskContainer .addTask {
    display: flex;
    width: 100%; }
    .addTaskContainer .addTask input[type=text] {
      border: 1px solid #e0dfdf;
      height: 3rem;
      border-radius: 20px;
      flex-grow: 1;
      padding: 0 1rem; }
      .addTaskContainer .addTask input[type=text]:focus {
        outline: none;
        border: 1px solid #2e4052; }
      .addTaskContainer .addTask input[type=text]::placeholder {
        color: #e0dfdf; }
    .addTaskContainer .addTask button {
      background: #fff;
      border: 1px solid #e0dfdf;
      width: 3rem;
      border-radius: 50%;
      font-size: 1.2rem;
      color: #e0dfdf;
      margin-left: 1rem; }
    .addTaskContainer .addTask input[type=text]:focus + button {
      border: 1px solid #2e4052;
      background: #2e4052;
      color: #fff; }
