@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

$default-font: 'Montserrat', sans-serif;

body,
*,
html {
	font-family: $default-font;
	font-size: 14px;
	font-weight: 400;
}
h1 {
	font-size: 4.6rem;
}
h2 {
	font-size: 3.6rem;
}
h3 {
	font-size: 2.8rem;
}
h4 {
	font-size: 2.2rem;
}
h5 {
	font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
}
