.app {
	@include display-flex-row;
	background: url('https://images.unsplash.com/photo-1554296759-ec7c058ecf9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80')
		no-repeat;
	background-size: cover;
	background-position: center;
	min-width: 800px;
}
