.card {
	@include border;
	@include display-flex-row;
	@include flex-center-column;
	.task {
		flex-grow: 1;
		margin: 0 1rem;
		&.complete {
			color: $gray;
			text-decoration: line-through;
		}
	}
	.toggleComplete,
	.toggleDelete {
		// font-size: 1.6rem;
		width: 1.6rem;
		height: 1.6rem;
		color: $white;
		border-radius: 50%;
		border: 1px solid transparent;
		background-color: $white;
		&.complete {
			border: 1px solid $gray;
			background: $gray;
			div {
				opacity: 1;
			}
		}
		&.incomplete {
			opacity: 1;
			border: 1px solid $charcoal;
			color: $white;
			div {
				opacity: 0;
			}
		}
	}
	.toggleDelete {
		&.incomplete {
			border: 1px solid transparent;
			color: $white;
		}
	}
}
