.container {
	@include display-flex-column;
	@include flex-center-column;
	position: relative;
	margin: auto;
	width: 45vw;
	background: #fff;
	border-radius: 13px;
	height: 85vh;
	overflow-x: hidden;
	& > div:first-child {
		padding: 2rem 2rem 0 2rem;
	}
}
